.img--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-full-width {
  width: 100%;
}

.img-width-full {
  width: 100%;
}

.img-width-100px {
  width: 100px;
}
